 /* Responsive Css Start  */
 
 @media only screen and (max-width :1199px) {}
 
 @media only screen and (min-width: 1025px) and (max-width :1199px) {}
 
 @media only screen and (min-width: 768px) and (max-width :1024px) {}
 
 @media only screen and (min-width: 481px) and (max-width: 1025px) {
     .title {
         text-align: center;
         font-size: 20px;
         line-height: 30px;
         margin-bottom: 10px;
     }
     .wrapper {
         padding: 0 15px;
     }
     .para {
         width: auto;
     }
     ul.row li {
         width: 100%;
         text-align: center;
     }
     .workplace-sec .content {
         padding-right: 0px;
     }
     ul.row li p {
         margin-bottom: 10px;
     }
     .emotionally-sec .form form ul {
         justify-content: center;
     }
     .emotionally-sec .form form ul li {
         width: 50%;
     }
     .emotionally-sec {
         padding: 20px 0px;
         height: auto;
     }
     .overlay {
         height: 100%;
     }
     .emotionally-sec .para {
         font-size: 18px;
     }
     .emotionally-sec .form form .checkbox-wrap ul li {
         padding-right: 15px;
     }
     .button-box {
         margin-top: 0px;
         text-align: center;
     }
     .what-make-sec,
     .workplace-sec {
         padding-bottom: 20px;
     }
     section {
         padding-top: 20px;
     }
     .we-focus-wrap li {
         width: 50%;
     }
     .we-focus-sec .title {
         margin-top: 20px;
         margin-bottom: 10px;
     }
     .we-focus-wrap .content .data h4 {
         font-size: 16px;
     }
     a.button {
         padding: 10px 45px;
     }
     .an-corporate-sec .we-focus-wrap .content .data {
         min-height: auto;
     }
     .footer-sec {
         height: auto;
         padding: 30px 0px;
     }
     .footer-sec .overlay {
         height: 100%;
     }
     .get-started .img-box {
         margin-bottom: 10px;
     }
     .get-started .img-box img {
         width: 30px;
     }
 }
 
 @media only screen and (max-width:481px) {
     .title {
         text-align: center;
         font-size: 20px;
         line-height: 30px;
         margin-bottom: 10px;
     }
     .wrapper {
         padding: 0 15px;
     }
     .para {
         width: auto;
     }
     ul.row li {
         width: 100%;
         text-align: center;
     }
     .workplace-sec .content {
         padding-right: 0px;
     }
     ul.row li p {
         margin-bottom: 10px;
     }
     .emotionally-sec .form form ul li {
         width: 100%;
         padding: 0px;
         margin-bottom: 10px;
     }
     .emotionally-sec {
         padding: 40px 0px;
         height: auto;
     }
     .overlay {
         height: 100%;
     }
     .emotionally-sec .para {
         font-size: 18px;
     }
     .emotionally-sec .form form .checkbox-wrap ul li {
         padding-right: 5px;
     }
     .button-box {
         margin-top: 0px;
         text-align: center;
     }
     .what-make-sec,
     .workplace-sec {
         padding-bottom: 20px;
     }
     section {
         padding-top: 40px;
     }
     .we-focus-wrap li {
         width: 100%;
     }
     .we-focus-sec .title {
         margin-top: 20px;
         margin-bottom: 10px;
     }
     .we-focus-wrap .content .data h4 {
         font-size: 16px;
     }
     a.button {
         padding: 10px 45px;
     }
     .an-corporate-sec .we-focus-wrap .content .data {
         min-height: auto;
     }
     .footer-sec {
         height: auto;
         padding: 30px 0px;
     }
     .footer-sec .overlay {
         height: 100%;
     }
     .get-started .img-box {
         margin-bottom: 10px;
     }
     .get-started .img-box img {
         width: 30px;
     }
     .form form ul li label {
         margin-bottom: 10px;
     }
     ul.we-focus-wrap {
         margin-bottom: 30px;
     }
 }