/* ========================= common css ===================== */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    width: 100%;
}

section {
    width: 100%;
    float: left;
    padding-top: 60px;
}

div {
    width: 100%;
    /* float: left; */
}


/* ======================= header css ================ */


/* ======================= footer css ================ */


/* ===================== container css ============= */

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.banner-sec,
.we-focus-sec {
    border-bottom: 10px solid #A5D6D7;
}

.img-box {
    width: 100%;
    /* float: left; */
}

.title {
    width: 100%;
    float: left;
    margin: 0 auto;
    font-size: 36px;
    font-family: "open sans";
    line-height: 49px;
    color: #847492;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

.title-wrap {
    max-width: 970px;
    margin: 0 auto;
}

.workplace {
    width: 100%;
    float: left;
}

.workplace-wrap {
    width: 100%;
    float: left;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

ul.row li {
    width: 50%;
}

.workplace-sec,
.we-focus-sec,
.an-corporate-sec {
    background-color: #F5F5F5;
}

ul.row li p {
    margin-bottom: 30px;
    font-size: 16px;
}

.content {
    width: 100%;
    float: left;
}

.workplace-sec .content {
    padding-right: 20px;
}

.emotionally-sec {
    position: relative;
    padding: 130px 0px;
    background-image: url(../images/banner-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

.overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    background: linear-gradient(45deg, #4FE5E8, #6238C8);
    opacity: .9;
}

.emotionally-sec .title {
    color: #ffffff;
}

.emotionally-wrap {
    width: 100%;
    float: left;
}

.emotionally-sec .para {
    padding: 0px 0px 25px 0px;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    color: #ffffff;
}

.emotionally-sec .form {
    width: 100%;
    float: left;
}

.emotionally-sec .form form {
    width: 100%;
}

.emotionally-sec .form form ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.emotionally-sec .form form ul li {
    width: 33.33%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.form form ul li label {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 15px;
}

.form form ul li input {
    padding: 15px 0px;
    padding-left: 30px;
    font-size: 16px;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 30px;
    width: 100%;
}

.checkbox-wrap ul {
    width: 100%;
}

.emotionally-sec .form form .checkbox-wrap ul li {
    width: auto;
    padding: 0px;
    padding-right: 20px;
}

.checkbox-wrap ul li input[type=checkbox] {
    width: auto;
}

a.button {
    color: #ffffff;
    padding: 15px 70px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    background-color: #6238C8;
    margin-top: 30px;
    font-weight: bold;
    text-transform: capitalize;
    transition: 0.3s;
}

a.button:hover {
    background-color: #ffffff;
    color: #6238C8;
}

.button-box {
    width: 100%;
    margin-top: 30px;
}

.we-focus-wrap {
    width: 100%;
}

ul.we-focus-wrap {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.we-focus-wrap li {
    width: 25%;
    padding: 15px;
}

.para {
    text-align: center;
    width: 750px;
    margin: auto;
}

.we-focus-sec .para {
    text-align: center;
    /* width: 1000px; */
    margin: auto;
}

.we-focus-wrap .content .data {
    padding: 10px;
    background: linear-gradient(45deg, #4FE5E8, #6238C8);
    text-align: center;
}

.we-focus-wrap .content {
    border-radius: 10px 10px 0px 0px;
    background-color: #ffffff;
}

.we-focus-wrap .content .data h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.we-focus-wrap .content .img-box {
    padding: 15px 35px;
}

.we-focus-sec .title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.what-make-sec,
.workplace-sec {
    padding-bottom: 60px;
}

.partner-slider {
    width: 100%;
}

.partner-slider li {
    padding: 10px;
}

.partner-slider li .content {
    box-shadow: 0px 0px 10px #acaaaa;
    border-radius: 10px;
    text-align: center;
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-sec {
    background-color: #F5F5F5;
    padding-bottom: 80px;
}

.partner-slider .content .img-box img {
    max-width: 100%;
    width: auto;
}

.partner-slider .slick-dots {
    bottom: -32px;
}

.partner-slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #7460A4;
}

.partner-slider .slick-dots li button:before {
    font-size: 60px;
}

.partner-slider .slick-dots li button:before {
    color: #7460A4;
}

.an-corporate-sec .we-focus-wrap .content .data {
    min-height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-sec {
    position: relative;
    padding: 130px 0px;
    background-image: url(../images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sec .overlay {
    height: 420px;
}

.get-started {
    width: auto;
    z-index: 3;
}

.get-started .img-box {
    text-align: center;
    margin-bottom: 30px;
}

.get-started .img-box img {
    max-width: 100%;
    width: auto;
}